# Created by https://www.toptal.com/developers/gitignore/api/react,dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=react,dotenv

### dotenv ###
.env

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

# ビルド時に scripts/generate-sitemap.mjs が生成する(npm run dev/build の pre フックで自動生成)
/public/sitemap.xml

*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react,dotenv